* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.satu {
    width: 960px;
    height: 500px;
    border: 3px solid black;
    margin: 0 auto;
    background: url('../img/jeruk.jpg') bottom left / 700px 400px no-repeat scroll padding-box content-box red;
}