* {
    margin: 0;
    padding: 0;
}
div {
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    border: 3px solid black;
    background-color: green;
    float: left;
    margin: 10px;
    background-image: url('../img/jeruk.jpg');
}
span {
    background-color: aqua;
    padding: 0.5em;
}
.satu {background-repeat: repeat;}
.dua {background-repeat: no-repeat;}
.tiga {background-repeat: repeat-x;}
.empat {background-repeat: repeat-y;}
.lima {width: 100%;height: 500px;background-repeat: space;}
.enam {width: 100%;height: 500px;background-repeat: round;}