* {
    margin: 0;
    padding: 0;
}


.box {
    width: 200px;
    height: 50px;
    background-color: green;
    float: left;
    margin: 1.5em;
    line-height: 50px;
    text-align: center;
    color: white;
}
.box1 {transform: translate(0);}
.box2 {transform: translateX(20px);}
.box3 {transform: translateY(30px);}
.box4 {transform: translateX(50px) translateY(30px);}
.box5 {transform: translate(30px, 50px);}
.box6:hover {
    transform: translate(50px);
}