* {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    height: 50vh;
    background-color: dimgray;
    display: flex;
}
.wrapper {
    width: 50%;
    background-color: limegreen;
    margin: 1em;
    display: flex;
}
.row {flex-direction: row;}
.column {flex-direction: column;}
.box {
    padding: 0.2em;
    margin: 0.2em;
    background-color: red;
}
.justify {
    justify-content: flex-start;
}
.items {
    align-items: flex-start;
}