* {
    padding: 0;
    margin: 0;
}
.container {
    background-color: aqua;
    border: 2px solid salmon;
    margin: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 80px;
}
.box {
    padding: 0.3rem;
    background-color: yellow;
}
.box:nth-child(even) {
    background-color: yellowgreen;
}