* {
    margin: 0;
    padding: 0;
}

/* body {
    background-image: url('wallpaper.png');
} */


.box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 3px solid black;
    float: left;
    margin: 10px;
}
span {
    background-color: white;
    padding: 0.5em;
    border-radius: 5px;
}
.satu {background-image: url('../img/jeruk.jpg');}
.dua {background-image: url('../img/strawberry.png');}
.tiga {background-image: url('../img/kiwi.png');}
.empat {background-image: url('../img/bluebeerry.png');}

.multiple {
    background-image: url('../img/kiwi100x100.png'),
                      url('../img/jeruk.jpg');
}