* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../05-background/02-background_image/wallpaper.png');
    width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
    background-size: cover;
}

h1,h2 {
    background-color: rgb(169, 167, 167);
    padding: 10px;
    margin: 0;
    text-align: center;
}
.content {
    background-color: rgb(231, 232, 226);
}
p {
    padding: 10px;
}
.gallery {
    background-color: rgb(231, 232, 226);
    width: 880px;
    margin: 10px auto;
}
img {
    border: 10px solid white;
    margin: 10px;
}