* {
    margin: 0;
    padding: 0;
}

body {
    background-color: limegreen;
}

div {
    width: 280px;
    height: 80px;
    line-height: 80px;
    float: left;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
}
.satu {background-color: pink;}
.dua {background-color: #ff00ff;}
.tiga {background-color: hsl(180, 100%, 50%);}
.empat {background-color: rgb(255, 255, 0);}
.lima {background-color: rgba(255, 152, 18, 0.589);}
.enam {background-color: hsla(170, 50%, 45%, 1)}