* {
    margin: 0;
    padding: 0;
}   

div {
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;

}
.satu{
    box-sizing: content-box;
}
.dua{
    box-sizing: border-box;
}