* {
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-color: dimgray;
    margin: 3em;
    float: left;
    border: 33px solid transparent;
}
.box1 {border-image: url('../img/border1.png') 33 fill / 30px / 30px round;}
.box2 {border-image: url('../img/border2.png') 20 / 20px / 30px round;}
.box3 {border-image: url('../img/border3.png') 30% / 30px / 0px round;}
.box4 {border-image: repeating-radial-gradient(circle, green, lime 10%) 10% / 20px / 20px round;}